/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-color: #FF69B4;
	-fx-padding: 10.0, 10.0, 10.0, 10.0;
	-fx-background-image: url("background.jpg");
}

#tekst{
	-fx-fill: black;
	-fx-font-size: 20;
}

#login {
    -fx-text-fill: black;
    -fx-font-size: 20.0;
    -fx-border-radius: 50.0;
    -fx-background-radius: 50.0%;
    -fx-background-color: #00FFFF;
    -fx-min-width: 50.0px;
    -fx-min-height: 50.0px;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
   }

#login:hover {
    -fx-background-color: #00CED1;
    -fx-text-fill: white;
}

#login:pressed {
    -fx-background-color: #007375;
    -fx-text-fill: white;
}

#glemt{
	-fx-text-fill: #FF0000;
	-fx-background-color: transparent;
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
	-fx-font-size: 15;
}

#glemt:hover {
    -fx-text-fill: #b20000;
}

#glemt:pressed {
    -fx-text-fill: #4c0000;
}

#fejl{
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255.0,255.0,255.0,0.5) , 0.0,0.0,0.0,1.0 );
}
