/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-padding: 10.0, 10.0, 10.0, 10.0;
	-fx-background-image: url("BG.jpg");
	-fx-background-size: 100%;
	-fx-background-repeat: no-repeat;
}

#tekst{
	-fx-fill: black;
	-fx-font-size: 20;
}

#login {
    -fx-text-fill: white;
    -fx-font-size: 20.0;
    -fx-border-radius: 50.0;
    -fx-background-radius: 50.0%;
    -fx-background-color: #00316c;
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-max-width: 100px;
    -fx-max-height: 100px;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
   }

#login:hover {
    -fx-background-color: #001d40;
    -fx-text-fill: white;
}

#login:pressed {
    -fx-background-color: #000915;
    -fx-text-fill: white;
}

#glemt{
	-fx-text-fill: red;
	-fx-background-color: transparent;
	-fx-font-size: 20;
}

#glemt:hover {
    -fx-text-fill: #b20000;
}

#glemt:pressed {
    -fx-text-fill: #4c0000;
}

#fejl{
  -fx-font-size: 16px;
}

#logo{
	-fx-fill: #00316c;
	-fx-font-size: 30px;
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}
