/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-color: #FF69B4;
	-fx-padding: 10, 10, 10, 10;
	-fx-background-image: url("background.jpg");
	
}
#login {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-border-radius: 50;
    -fx-background-radius: 50%;
    -fx-background-color: #00FFFF;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
   }

#login:hover {
    -fx-background-color: #00CED1;
    -fx-text-fill: white;
}

#login:pressed {
    -fx-background-color: #007375;
    -fx-text-fill: white;
}