/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-image: url("BG.jpg");
	-fx-padding: 10.0, 10.0, 10.0, 10.0;
	-fx-background-size: cover;
	-fx-background-position: bottom ;
	-fx-background-repeat: no-repeat;
	-fx-border-width: 4px;
	-fx-border-color: #00316c;
}

#overskrift{
	-fx-font-size: 30px;
	-fx-fill: #00316c;
}

#Knap{
	-fx-background-color: #00316c;
	-fx-text-fill: white;
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );	
}

#Knap:hover {
    -fx-background-color: #001d40;
}

#Knap:pressed {
    -fx-background-color: #000915;
}

#KnapImenu{
	-fx-pref-width: 300;
	-fx-min-height: 50;
	-fx-font-size: 15;
	-fx-background-color: #00316c;
	-fx-text-fill: white;
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}

#KnapImenu:hover {
    -fx-background-color: #001d40;
}

#KnapImenu:pressed {
    -fx-background-color: #000915;
}

#KnapImenuGULD{
	-fx-pref-width: 300;
	-fx-min-height: 50;
	-fx-font-size: 15;
	-fx-background-color: #ffd700;
	-fx-text-fill: white;
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}

#KnapImenuGULD:hover {
    -fx-background-color: #b29600;
}

#KnapImenuGULD:pressed {
    -fx-background-color: #665600;
}

#logo{
	-fx-fill: #00316c;
	-fx-font-size: 30px;
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}

#close{
	-fx-text-fill: white;
    -fx-border-radius: 50.0;
    -fx-background-radius: 50.0%;
    -fx-background-color: #FF0000;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
	
}

#close:hover {
    -fx-background-color: #990000;
}

#close:pressed {
    -fx-background-color: #330000;
}

#labelting{
	-fx-font-size: 20px;
	-fx-fill: #00316c;
}

#fejl{
  -fx-font-size: 16px;
}

#tekst{
	-fx-fill: #00316c;
	-fx-font-size: 20;
}
#fejltext{
	-fx-fill: rgb(255,47,52);
	-fx-font-size: 16px;
}